language: rust

services:
  - docker

before_install:
  - docker create -p 5433:5432 --name a_btc_db postgres:9.5-alpine
  - docker start a_btc_db
  - sleep 10
  - psql -h localhost -p 5433 postgres -U postgres -f src/resources/trades.sql

script:
  - cargo build --verbose --all
  - cargo test --verbose --all
